.App {
  text-align: center;
  background-color: beige;
}

a {
  text-decoration: none;
}

/** Scrollbar  */

* {
  scrollbar-color: darkblue lightcyan;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: darkblue;
}

*::-webkit-scrollbar-track {
  background-color: lightcyan;
}
